<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
 <body>
<h1 style="text-align:center">Log In </h1>
<p id="error"  style="text-align:center; color:red;" >{{error}}</p>
<form style="text-align:center" id="reg" name="login" action="." method="post">
<label>email:</label><br>
 <input type="text" name="email" required><br>
<label>Password:</label><br>
 <input type="password" name="password" required><br>

 <input type="submit" value="submit">
 </form>
<form style="position:relative; top:-150pt; float:right;" action="/register">

 <input type="submit" value="Creat Acccount">
</form>
</body>


</htmL>
