<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
 <body>
<h1 style="text-align:center">Menu</h1>
<p id="error"  style="text-align:center; color:red;" >{{error}}</p>
<form style="text-align:center; " action="/search">

 <br><input style="text-align:center;"  type="submit" value="search">
</form>
<form style="text-align:center; " action="/comments">

 <br><input style="text-align:center; "  type="submit" value="search movie comments">
</form>

<form style="text-align:center; " action="/rating">

 <br><input style="text-align:center;"  type="submit" value="rating">
</form>
<form style="text-align:center; " action="/delete_rating">

 <br><input style="text-align:center;"  type="submit" value="delete rating">
</form>
<form style="text-align:center; " action="/comment">

 <br><input style="text-align:center;"  type="submit" value="make a comment">
</form>
<form style="text-align:center; " action="/getusercomment">

 <br><input style="text-align:center;"  type="submit" value="get your comments">
</form>
<form style="text-align:center; " action="/getuserrating">

 <br><input style="text-align:center;"  type="submit" value="get your rating">
</form>
<form style="text-align:center; " action="/delete_comment">

 <br><input style="text-align:center;"  type="submit" value="delete a comment">
</form>
<form style="text-align:center; " action="/delete_account" method="post">

 <br><input style="text-align:center;"  type="submit" value="delete account">
</form>

<form style="position:relative; top:-350pt; float:right;" action="/admin_menu">

 <input type="submit" value="admin">
</form>
<form style="position:relative; top:-350pt; float:left;" action="/logout">

 <input type="submit" value="log out">
</form>
</body>

</htmL>
