<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
 <body>
<h1 style="text-align:center">Change User Category </h1>
<p id="error"  style="text-align:center; color:red;" >{{error}}</p>
<form style="text-align:center" name="search" action="" method="post">

<label>Email:</label><br>
 <input type="text" name="email" required><br>


 <input type="submit" value="submit">
 </form>
<form style="position:relative; top:-100pt; float:right;" action="/admin_menu">

 <input type="submit" value="back to menu">
</form>
</body>


</htmL>
